<!DOCTYPE html>
<html>
<head>
	<title>Microblogging's page</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<% if session[:user_id] %>
		<a href="/sign_out">Sign Out</a> 
		<h1>Hello <%= @user.name %> </h1>
		You are logged in as <%= @user.email %>
	<% else %>
		<a href="/sign_in">Sign In</a> | <a href="/sign_up">Sign Up</a>
	<% end %>

	<%= flash[:notice] if flash[:notice] %>


	<div class="row">
    	<div class="col-md-6">
		<h2>All the posts</h2>
			<ul>
				<% @posts.each do |post| %>
					<li><a href="/posts/<%= post.id %>"><%= post.title %></a> 
				<% end %>
			</ul>
		</div>
		<% if session[:user_id] %>
			<div class="col-md-6">
				<h2>All your posts</h2>
				<ul>
					<% @posts_user.each do |post| %>
						<li><a href="/posts/<%= post.id %>"><%= post.title %></a> | <a href="/posts/edit/<%= post.id %> " >Edit</a></li>| <a href="/posts/delete/<%= post.id %> " >Delete</a></li>
					<% end %>
				</ul>
				<form action="/posts" method="post">
				<label for="title"> Title</label>
				<input type="text" name="title" id="title">
				<br>
				<br>
				<label for="body"> Body</label>
				<textarea type="text" name="body" id="body"> </textarea>

				<br>
				<br>
				<button type="submit"> Create Post</button>
				</form>
			</div>
		<% end %>
	</div>



</body>
</html>