<%= flash[:notice] if flash[:notice] %>

<form action="/sessions/edit" method="post">
	<div>
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value="<%= @user.name %>">
	</div>

	<div>
	<label for="email">Email</label>
	<input type="text" name="email" id="email" value="<%= @user.email %>">	
	</div>
	
	<div>
	<label for="birthday">Birthday</label>
	<input type="day" name="birthday" id="birthday" value="<%= @user.birthday %>">
	</div>	

	<div>
	<label for="password">Password</label>
	<input type="text" name="password" id="password" value="<%= @user.password %>">
	</div>

	<div>
	<label for="description">Description</label>
	<textarea type="text" name="description" id="description" value="<%= @user.description %>"></textarea>
	</div>

	<div>
	<label for="avatar">Avatar</label>
	<input type="text" name="avatar" id="avatar" value="<%= @user.avatar %>">
	
	</div>
	
	<button type="submit">Submit</button>
</form>